<app-alert [message]="message" [type]="alerttype" [show]="alertmode" (closed)="alertmode = false"></app-alert>
<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div class="container mt-4" >
    <h3 class="form-label">Patient Day Sheet</h3>
    <form #patientdaysheet="ngForm" (submit)="submitpatientdaysheet(patientdaysheet)">
        <div class="row mb-3">
            <div class="col-md-6">
               <label for="date" class="form-label">Date* </label>
               <input type="date" name="date" id="dob" [(ngModel)]="patidaysheet.date">
            </div>
         </div>
      <div class="row mb-3">
         <div class="col-md-6">
            <label for="consultant1" class="form-label">Consultan 1* </label>
            <select id="sex" name="consultant1" class="form-control" [(ngModel)]="consultant1" required>
              <option *ngFor="let use of user" value="{{use.userid}}">{{use.name}}</option>
            </select>
         </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="consultant2" class="form-label">Consultan 2* </label>
            <select id="sex" name="consultant2" class="form-control" [(ngModel)]="consultant2" required>
              <option *ngFor="let use of user" value="{{use.userid}}">{{use.name}}</option>
            </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="consultant3" class="form-label">Consultan 3*</label>
            <select id="sex" name="consultant3" class="form-control" [(ngModel)]="consultant3" required>
              <option *ngFor="let use of user" value="{{use.userid}}">{{use.name}}</option>
            </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="intenvisit" class="form-label">intenvisit*</label>
            <select id="sex" name="intenvisit" class="form-control" [(ngModel)]="intenvisit" required>
              <option *ngFor="let use of user" value="{{use.userid}}">{{use.name}}</option>
            </select>
        </div>
      </div>
    <button type="submit" class="add-patient-btn" >Update Measurements</button>
    <div class="spinner-gradient" [hidden]="spinner"></div>
   </form>
  </div>