<app-alert [message]="message" [type]="alerttype" [show]="alertmode" (closed)="alertmode = false" ></app-alert>
<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div class="form-container">
  <div class="patient-details">
     <h3>Patient Information</h3>
     <table class="table">
       <tbody>
          <tr>
            <td class="label">Name</td>
            <td class="value">{{Patadmission.patient.patientname}}</td>
          </tr>
          <tr>
           <td class="label">Age</td>
           <td class="value">{{Patadmission.patient.age}}</td>
         </tr>
         <tr>
           <td class="label">DOB</td>
           <td class="value">{{Patadmission.patient.dob}}</td>
         </tr>
         <tr>
           <td class="label">Address</td>
           <td class="value">{{Patadmission.patient.address}}</td>
         </tr>
         <tr>
           <td class="label">Contact</td>
           <td class="value">{{Patadmission.patient.contact}}</td>
         </tr>
       </tbody>
     </table>
  </div>
  
  <div class="anthropometry-form">
     <h3>Admission Data</h3>
     <div class="input-group">
      <form #admissionform="ngForm" (submit)="updateadmission(admissionform)" class="input-group" >
       <label for="admissiondate">Admission Date</label>
       <input type="date" placeholder="Admission Date" name="admissiondate" class="input" required [(ngModel)]="Patadmission.admissiondate">
       <label for="icuadmissiondate">ICU Admission Date</label>
       <input type="date" placeholder="ICU Admission Date" name="icuadmissiondate" class="input" required [(ngModel)]="Patadmission.icuadmissiondate">
       <label for="icu">ICU's</label>
       <select name="icu" id="icu" required [(ngModel)]="icuid" class="input">
          <option *ngFor="let ic of icus" value={{ic.icuid}} >{{ic.name}}</option>
       </select>
       <div class="dot-spinner" [hidden]="dotspinner"></div>
       <input type="submit" class="update-btn" *ngIf="dotspinner" value="Admit Patient" />
      </form>
     </div>
   </div>
</div>
