<app-alert [message]="message" [type]="alerttype" [show]="alertmode" (closed)="alertmode = false"></app-alert>
<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div class="container mt-4" *ngIf="!mainspinner" >
  <h3 class="form-label">Patient Medication Log</h3>
  <form #patmedicationchart="ngForm">
    <div class="row mb-3">
      <div class="col-md-6">      
        <label for="drug">Drug</label>
        <input type="text" required class="form-control" maxlength="49" name="drug" placeholder="Enter drug name" [(ngModel)]="patientlogmedication.drug">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
          <label for="patientdaysheet" class="form-label">Date*</label>
          <select id="sex" name="patidaysheet" class="form-control" [(ngModel)]="patientdaysheetid" required>
            <option *ngFor="let patientsheet of patientdaysheets" value="{{patientsheet.patientdaysheetid}}">{{patientsheet.date?.toString()?.split("T")}}</option>
          </select>
      </div>
    </div>
      <div class="row mb-3">
        <div class="col-md-6">      
          <label for="dose">Dose</label>
          <input type="text" class="form-control" required maxlength="200" name="dose" placeholder="Enter dose" [(ngModel)]="patientlogmedication.dose">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">      
          <label for="route">Route</label>
           <input type="text" class="form-control" required maxlength="200" name="route" placeholder="Enter route" [(ngModel)]="patientlogmedication.route">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
             <label for="adminstrativetime">adminstrative time</label>
            <input type="time" class="form-control" name="administrationtime" required  [(ngModel)]="admintime">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="patientmedication" class="form-label">Patientmedication*</label>
            <select name="patientmedication" class="form-control" [(ngModel)]="patientmedicationchartid" required>
              <option *ngFor="let medicationchart of patientmedicationcharts" value="{{medicationchart.patientmedicationchartid}}">{{medicationchart.date?.toString()?.split("T")}}</option>
            </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <label for="adminstrative" class="form-label">Adminstrative*</label>
            <select name="adminstrative" class="form-control" [(ngModel)]="userid" required>
              <option *ngFor="let use of userroles" value="{{use.userroleid}}">{{use.user.name}}</option>
            </select>
        </div>
      </div>
      <div class="spinner-gradient" *ngIf="spin"></div>
    <button type="submit" *ngIf="!spin" class="add-patient-btn" (click)="addpatientmedication(patmedicationchart)">Update Measurements</button>
  </form>
</div>
