<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<!--<div class="patient-table" *ngIf="!mainspinner && !icuadd">
  <input type="text" placeholder="search" class="search">
  <button class="edit" (click)="addicu()">Add ICU</button>
  <div class="dot-spinner" [hidden]="spinner"></div>
  <table >
    <thead>
      <tr>
        <th>ICU Name</th>
        <th>Active</th>
        <th>Create Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ic of Icu">
        <td>{{ic.name}}</td>
        <td>{{ic.active==1 ? "yes" : "No"}}</td>
        <td>{{ic.createddate}}</td>
        <td class="actions">
          <button (click)="onEdit(ic)" class="edit">Edit</button>
          <button (click)="onDelete(ic)" class="del">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->
<div class="container mt-4" >
  <h3 class="form-label">ICU</h3>
  <form #icuform="ngForm">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="icuname" class="form-label">ICU Name:</label>
        <input
          type="text"
          id="patientname"
          name="icuname"
          class="form-control"
          [(ngModel)]="icu.name"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="active" class="form-label">Active:</label>
        <select id="active" name="active" class="form-control" [(ngModel)]="icu.active">
          <option value=1>Yes</option>
          <option value=2>No</option>
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button type="button" class="add-patient-btn" (click)="createicu(icuform)">Save</button>
      <div class="spinner-gradient" *ngIf="spinner"></div>
    </div>
  </form>
</div>
