<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div class="tab-container">
   <h3 class="form-label" style="margin-bottom: 3rem;">Hourly Observation</h3>
    <div class="tab-scroller">
      <div *ngFor="let tab of vitals" 
           class="tab-item"
           [class.active]="activeTab === tab.vitalid"
           (click)="selectTab(tab)">
           <span>{{ tab.vitalcategory }}</span>
      </div>
    </div>
</div>
<div class="component" *ngIf="activeTab!=null">
  <app-cvs [patient]="patient" [vitals]="innervitals"></app-cvs>
</div>