<app-home></app-home>
<div id="content">
  <div class="tab-container">
      <div class="tab-scroller">
        <div *ngFor="let tab of menudetails" 
             class="tab-item"
             [class.active]="activeTab === tab.menuid"
             (click)="selectTab(tab)">
             <span class="material-icons subitem-icon">{{ tab.subicon }}</span>
             <span>{{ tab.subname }}</span>
        </div>
      </div>
    </div>
   <div class="component" *ngIf="activeTab!=0">
     <app-anthropometry *ngIf="tabname === 'AnthropometryComponent'" [patient]="patient"></app-anthropometry>
     <app-patientdaysheet *ngIf="tabname === 'PatientdaysheetComponent'" [patient]="patient"></app-patientdaysheet>
     <app-hourlyobservation *ngIf="tabname === 'HourlyobservationComponent'" [patient]="patient" [patientdaysheets]="patientdaysheets"></app-hourlyobservation>
     <app-patientadditionalscores *ngIf="tabname === 'PatientadditionalscoresComponent'" [patient]="patient" [patientdaysheets]="patientdaysheets"></app-patientadditionalscores>
     <app-patientadditionaltests *ngIf="tabname === 'PatientadditionaltestsComponent'" [Patientdaysheets]="patientdaysheets"></app-patientadditionaltests>
     <app-embolism *ngIf="tabname === 'EmbolismComponent'" [patient]="patient" [patientdaysheets]="patientdaysheets"></app-embolism>
     <app-patient-medication-chart *ngIf="tabname === 'PatientMedicationChartComponent'" [patient]="patient" [patientdaysheets]="patientdaysheets"></app-patient-medication-chart>
     <app-patient-medication-log *ngIf="tabname === 'PatientMedicationLogComponent'" [patient]="patient" [patientdaysheets]="patientdaysheets"></app-patient-medication-log>
     <app-patient-ventilator *ngIf="tabname === 'PatientVentilatorComponent'" [patientdaysheets]="patientdaysheets"></app-patient-ventilator>
     <app-patient-sos-medication *ngIf="tabname === 'PatientSosMedicationComponent'"></app-patient-sos-medication>
     <app-patientlinestubes *ngIf="tabname === 'PatientlinestubesComponent'" [Patient]="patient" [patientdaysheets]="patientdaysheets"></app-patientlinestubes>
     <app-patientivfluid *ngIf="tabname === 'PatientivfluidComponent'" [pat]="patient"></app-patientivfluid>
     <app-shiftrmonurse *ngIf="tabname === 'ShiftrmonurseComponent'"></app-shiftrmonurse>
     <app-patientinfusion *ngIf="tabname=='PatientinfusionComponent'"></app-patientinfusion>
     <app-rmonurselog *ngIf="tabname === 'RmonurselogComponent'"></app-rmonurselog>
     <app-consultant-patient-visit *ngIf="tabname=='ConsultantPatientVisitComponent'" [patientdaysheets]="patientdaysheets"></app-consultant-patient-visit>
   </div>
</div>
<app-footer></app-footer>