<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient admission</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .form-group label {
        margin-right: 10px;
        flex: 1;
        min-width: 120px;
      }
      .form-group input,
      .form-group textarea,
      .form-group select {
        flex: 2;
        min-width: 200px;
      }
    </style>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; */
      background-color: #f8f9fa;
    "
  >
    <div
      class="container mt-5"
      style="
        max-width: 400px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <form>
        <div class="form-group">
          <label for="patientname">Patient Name</label>
          <input
            type="text"
            class="form-control"
            id="patientname"
            name="patientname"
        />
        </div>
        <div class="form-group">
          <label for="admissiondate">Admission Date</label>
          <input
            type="datetime-local"
            class="form-control"
            id="admissiondate"
            name="admissiondate"
            [(ngModel)]="patientadmission.admissiondate"
        />
        </div>
        <div class="form-group">
          <label for="icuadmissiondate">ICU Admission Date</label>
          <input
            type="datetime-local"
            class="form-control"
            id="icuadmissiondate"
            name="icuadmissiondate"
            [(ngModel)]="patientadmission.icuadmissiondate"
          />
        </div>
        <div class="form-group">
          <label for="icudischargedate">ICU Discharge Date</label>
          <input
            type="datetime-local"
            class="form-control"
            id="icudischargedate"
            name="icudischargedate"
            [(ngModel)]="patientadmission.icudischargedate"
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" (click)="onSave()">Submit</button>
        </div>
      </form>
      <pre class="mt-3">{{ patientadmission | json }}</pre>
    </div>
  </body>
</html>
