<app-menu></app-menu>
<div class="spinner-box" *ngIf="mainspinner">
    <div class="spinner-gradient"></div>
  </div>
  <div class="patient-table" *ngIf="!mainspinner && !viewadmittedpatient">
    <input type="text" placeholder="search patient" class="search" (change)="filterpatient($event)">
    <div class="dot-spinner" [hidden]="spinner"></div>
    <button  class="del" (click)="viewadmitted()">View Admitted Patients</button>
    <table>
      <thead>
        <tr>
        <th>Patient Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Patient Address</th>
        <th>Contact</th>
        <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
        <td>{{patient.patientname}}</td>
         <td>{{patient.dob }}</td>
         <td>{{patient.age}}</td>
         <td>{{patient.sex}}</td>
         <td>{{patient.address}}</td>
         <td>{{patient.contact}}</td>
          <td class="actions">
            <button class="edit" (click)="routeadmitpatient(patient.patientid)">Admit</button>
          </td>
        </tr>
        <tr *ngIf="patients.length === 0">
          <td colspan="7" class="no-patients">No Patients found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="patient-table" *ngIf="!mainspinner && viewadmittedpatient">
    <input type="text" placeholder="search patient" class="search" (change)="filteradmittedpatients($event)">
    <div class="dot-spinner" [hidden]="spinner"></div>
    <button  class="del" (click)="viewadmitted()">View Patients</button>
    <table>
      <thead>
        <tr>
        <th>Patient Name</th>
        <th>Patient Address</th>
        <th>Admit Date</th>
        <th>ICU Admit Date</th>
        <th>ICU Details(Name)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of admittedpatients">
        <td>{{patient.patient.patientname}}</td>
         <td >{{patient.patient.address}}</td>
         <td>{{patient.admissiondate }}</td>
         <td>{{patient.icuadmissiondate}}</td>
         <td>{{patient.icu.name}}</td>
        </tr>
        <tr *ngIf="admittedpatients.length === 0">
          <td colspan="7" class="no-patients">No Admitted Patients found</td>
        </tr>
      </tbody>
    </table>
  </div>
<app-footer></app-footer>