<app-home></app-home>
<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div id="content">
  <input type="text" placeholder="search patient" class="search" (change)="filterpatients($event)">
  <div class="cards">
    <div *ngFor="let patient of patients" class="patient-card"  (click)="takinginput(patient.patientid)">
      <div class="card-header">
        <div class="patient-name">{{patient.patientname}}</div>
        <div class="card-actions">
          <button class="icon-btn" (click)="onEdit(patient)">
            <i class="pi pi-pencil"></i>
          </button>
          <button class="icon-btn delete" (click)="onDelete(patient)">
            <i class="pi pi-trash"></i>
          </button>
        </div>
      </div>
      
      <div class="card-content">
        <div class="detail-row">
          <i class="pi pi-map-marker"></i>
          <span class="detail-text">{{patient.address}}</span>
        </div>
        
        <div class="detail-row">
          <i class="pi" [ngClass]="{
            'pi-mars': patient.sex === 'Male',
            'pi-venus': patient.sex === 'Female',
            'pi-user': !['Male','Female'].includes(patient.sex)
          }"></i>
          <span class="detail-text">{{patient.sex}}</span>
        </div>
      </div>
    </div>
  </div>
</div>