<app-alert [message]="message" [type]="alerttype" [show]="alertmode" (closed)="alertmode = false"></app-alert>
<div class="spinner-box" *ngIf="mainspinner">
  <div class="spinner-gradient"></div>
</div>
<div class="container mt-4" >
  <h3 class="form-label">Anthropometry Data</h3>
  <form #anthropometryform="ngForm">
    <div class="row mb-3">
       <div class="col-md-6">
         <label for="weight" class="form-label">Weight* </label>
         <input type="number" required placeholder="Weight (kg)" class="form-control" name="weight" [(ngModel)]="anthropometry.weight">
       </div>
       <div class="col-md-6">
         <label for="height" class="form-label">Height* </label>
         <input type="number" required placeholder="Height (cm)" class="form-control" name="height" [(ngModel)]="anthropometry.height">
       </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
          <label for="BodyFat" class="form-label">Body Fat* </label>
          <input type="number" required placeholder="Body Fat" class="form-control" name="BodyFat" [(ngModel)]="anthropometry.bsaboyd">
        </div>
        <div class="col-md-6">
          <label for="Date" class="form-label">Date* </label>
          <input type="Date" required  class="form-control" name="height" [(ngModel)]="anthropometry.createddate">
        </div>
    </div>
  <button type="submit" class="add-patient-btn" (click)="updateant(anthropometryform)">Update Measurements</button>
  <div class="spinner-gradient" [hidden]="spinner"></div>
 </form>
</div>