.links{
    width: 80%;
    margin-left: 4rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}