<div *ngIf="tableData && tableData.length > 0" class="table-wrapper mt-4">
  <h5 *ngIf="tableTitle">{{ tableTitle }}</h5>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th *ngFor="let col of columns">{{ col.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let col of columns">
            {{ getValue(row, col.key) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="tableData && tableData.length === 0" class="text-muted mt-2">
  No data available.
</div>
