.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px 0;
}

.menu li a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
  display: block;
}

.menu li a:hover {
  color: #007ad9;
}
